.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-right: 0.5rem;
  }

  .info {
    margin-bottom: 0.5rem;
    strong {
      margin-right: 1rem;
    }
  }
}
