<div class="card" *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-control"
      [ngClass]="{
        invalid:
          form.controls['title'].touched && form.controls['title'].invalid
      }"
    >
      <label for="title">Название поста:</label>
      <input type="text" id="title" formControlName="title" />
      <div
        class="validation"
        *ngIf="form.controls['title'].invalid && form.controls['title'].touched"
      >
        <small *ngIf="form.get('title').errors.required"
          >Введите название поста</small
        >
      </div>
    </div>

    <div class="form-control">
      <label for="content">Введите контент поста:</label>
      <quill-editor formControlName="content"></quill-editor>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Сохранить пост
    </button>
  </form>
</div>

<ng-template #loading>
  <div class="text-center">Идёт загрузка...</div>
</ng-template>
